body {
	font-family: 'arial';
}

img {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.mb {
	padding: 30px 10px;
}

.conteiner {
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 40px;
}

/*====================*/

.header {
	position: fixed;
	z-index: 1;
	top: 10;
	width: 100%;
}

.header__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	margin: 10px;
	padding: 5px;
	height: 60px;
	border-radius: 15px;
}
.logo_wraper img {
	position: relative;
	z-index: 2;
}
.logo_wraper, .logo_wraper img {
	width: 120px;
	height: 50px;
}

.wraper_ancors a {
	text-transform: uppercase;
	display: block;
	font-size: 14px;;
	padding: 6px 15px;
	border-radius: 15px;
}
.wraper_ancors a:hover {
	background-color: 
}

/*====================*/

.banner {
	background-position: center;
	padding-top: 100px;
	padding-left: 40px;

	font-weight: bold;

	min-height: 400px;

	text-shadow: 0 0 6px #ffeae8;
}

.banner__title {
	font-size: 50px;
}

.banner__town {
	font-size: 40px;
	margin-top: 16px;
}

@media(max-width: 768px) {
	.banner {
		background-position: -240px;
	}
	.banner__title {
		font-size: 35px;
	}
	.banner__town {
		font-size: 25px;
	}
}
@media(max-width: 450px) {
	.banner {
		min-height: 450px;
		background-position-y: top;
		background-position-x: center;
	}
	.header__content {
		justify-content: space-between;
		height: 40px;
	}
	.logo_wraper, .logo_wraper img {
		width: 70px;
		height: 30px;
	}
}

/*====================*/

.about {
	text-align: center;
}

.about__text {
	font-size: 24px;
	margin: 0 auto;
	max-width: 700px;
}

/*====================*/

.price {
	text-align: center;
}

.price__text {
	font-size: 18px;
	margin: 0 auto;
	max-width: 700px;
}

.spoiler {
	margin-top: 20px;
}

details {
	font-size: 16px;
	line-height: 24px;
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
}

summary {
	font-weight: bold;
	font-size: 20px;
}

.list {
	padding-left: 20px;
}

.price_el, .price__element {
	display: flex;
	justify-content: space-between;
}
.price__element {
	margin-top: 10px;
}
.price_el {
	min-width: 180px;
}
.price__element_title {
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	margin-right: 20px;
}

.price_name {
	white-space: pre-line;
}
.price_val {
	margin-left: 20px;
	white-space: nowrap;
}

.large {
	min-width: 400px;
}
@media(max-width: 600px) {
	.price_media {
		display: block;
	}
	.large {
		min-width: 250px;
		font-size: 14px;
	}
	.price__element_title {
		font-size: 16px;
	}
	.price_el {
		font-size: 14px;
	}
	.price_val {
		font-size: 14px;
		margin-left: 10px;
	}
}

/* Анимация раскрытия спойлера */

.spoiler details div {
  overflow: hidden;
}
.spoiler details[open] div {
  	animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {max-height: 0;}
  100% {max-height: 300px;}
}

/*====================*/
.work-process {
	text-align: center;
}

/*====================*/

.line {
	background: url(../img/line.webp);
	background-position: center;
	min-height: 15px;
}

/*====================*/

.send-order__content {
	text-align: center;
	max-width: 670px;
	margin: 0 auto;
	padding: 40px 0;
}
.send-order__text {
	font-size: 24px;
	line-height: 30px;
	padding: 20px 0;
}

input {
	font-size: 16px;
	width: 100%;
	padding: 20px;
}

.send-order__form_name {
	display: flex;
	justify-content: space-between;
}

textarea {
	resize: none;
	width: 100%;
	padding: 20px;
	font-size: 16px;
}

form div {
	margin-bottom: 30px;
}

button {
	padding: 25px 40px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

/*====================*/

.footer {
	padding: 20px 0 0 20px;
	min-height: 100px;
}