html[dark] body {
	background-color: #4d4d4d;
}
html[dark] .header__content {
	background-color: #74c270;
}
html[dark] .wraper_ancors a {
	background-color: #696969;
	color: #000;
}
html[dark] .wraper_ancors a:hover {
	background-color: #7d7d7d;
}
html[dark] .wraper_ancors a:active {
	background-color: #575757;
}
html[dark] .banner {
	background-image: url(../../img/black.jpg);
}
html[dark] .about {
	background-color: #878787;
}
html[dark] .price {
	background-color: #616161;
	color: #f5f5f5;
}
html[dark] summary {
	color: #0d7e80;
}
html[dark] .work-process {
	background-color: #878787;
}
html[dark] .send-order {
	background-color: #878787;
}
html[dark] .send-order__text {
	color: #f5f5f5;
}
html[dark] button {
	background-color: #3971e3;
	color: #fff;
}
html[dark] .footer {
	background-color: #303030;
	color: #f4f4f4;
}